* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: PoppinsBold;
  src: url(/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: OSReg;
  src: url(/Open_Sans/OpenSans-Regular.ttf);
}
body {
  text-align: center;  
}
.text { 
  font-family: OSReg;
  font-size: 1.5rem;
}
h1,h2,h3,h4,h5,h6 {font-family: PoppinsBold;}
header {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  height: 20px;
}
header .logo img { height: 100%;}
header p {
  font-size: 1.1rem;
  padding: 5px 25px;
  border: 3px solid hsl(322, 100%, 66%);
  border-radius: 25px;
  color: hsl(322, 100%, 66%);
}
.showcase {
  padding: 10px 20px;
  margin: 60px 0 50px 0;
} 

.showcase-heading {
  padding-bottom: 30px;
  font-size: 2rem;
}
.showcase p {
  padding-bottom: 40px;
  font-size: 1.2rem;
  font-family: OSReg;
}
 a {
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  font-size: 1.2rem;
  padding: 13px 60px;
  border-radius: 25px;
  background: hsl(322, 100%, 66%);
  color: #ffffff;
  box-shadow:  0 3px 0  0 rgba(0, 0, 0, 0.2);
  font-family: OSReg;
}
.showcase-image {
  width: 100%;
  margin: 30px 10px;
}
.showcase-image img {
  width: 100%;
  /* display: inline-block; */
  margin-top: 25px;
}
.metrics{margin: 40px 0;}
.metric {
  padding: 50px 0 0 50px;
  
}
.metric img {
  height: 20px;
  margin-right: 100px;
  }
.metric h2 { font-size: 4rem;}
/* .metric p {font-size: 1.2rem;} */
.section {
  padding: 30px 30px 100px 30px;
}
.section-image {
  width: 100%;
  /* border: 1px solid red; */
}
.section-image img {
  width: 90%;
  margin: 0 auto;
}
.section-message h2 {
  font-size: 1.8rem;
  padding: 50px 0 20px 0;
}
.section-c,
.section-e {
  background: hsl(207, 100%, 98%);
  position: relative;
  padding: 200px 30px;
  margin: 30px 0;
}

.section-c::before,
.section-e::before{
  content: "";
  position: absolute;
  height: 200px;
  width: 100%;
  left: 0;
  top: 0;
  background: url(/images/bg-section-top-mobile-1.svg) no-repeat top left/cover,#ffffff;
}
.section-c::after,
.section-e::after{
  content: "";
  position: absolute;
  height: 100px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: url(/images/bg-section-bottom-mobile-1.svg) no-repeat top left/cover,#ffffff;
}

.section-e{
  padding: 300px 30px;
}
.section-e::before {
  background: url(/images/bg-section-top-mobile-2.svg) no-repeat top left/cover,#ffffff;
  height: 200px;
}
.section-e::after {
  background: url(/images/bg-section-bottom-mobile-2.svg) no-repeat top left/cover,#ffffff;
  height: 200px;
}
.section-f h2 {
  font-size: 2.5rem;
  padding: 30px 0;
}

footer {
  padding: 50px 30px;
  background: hsl(192, 100%, 9%);
  text-align: left;
  color: #ffffff;
  position: relative;
  margin-top: 100px;
}
footer::before {
  content: "";
  position: absolute;
  height:80px;
  width: 100%;
  left: 0;
  top: -50px;
  background: url(/images/bg-footer-top-mobile.svg) no-repeat top left/cover;
}

.footer-a h2, .footer-a p {
  padding: 20px 0;
}
.footer-a p,
.footer-b p {font-size: 1.2rem;}
.subscribe {
  width: 100%;
  padding: 14px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
}
button {
  padding: 10px 30px;
  background: hsl(322, 100%, 66%);
  color: #ffffff;
  font-family: OSReg;
  font-size: 1rem;
  border-radius: 5px;
  float: right;
}
.footer-b {
  margin-top: 100px;
}
.footer-b .footer-image img {
  color: #ffffff;
  }

.footer-b p { padding: 30px 0;}
.phone, .email {
  padding: 10px 0;
}
.phone img, .email img {padding-right: 10px;}
.social-icons {
  font-size: 2rem;
  margin-top: 60px;
  display: flex;
  gap: 30px;
}
@media screen and (min-width:850px) {
  .showcase-heading {
    font-size: 3rem;
    max-width: 75%;
    margin: 0 auto;
  }
  .showcase p {
    width: max(600px, 50%);
    margin: 0 auto;
  }
  .showcase-image img {width: 75%;}
  .metrics {
    display: flex;
    align-items: center;
    padding: 50px 100px;
    justify-content: space-around;
    gap: 30px;
  }
  .section-image {
    width: 100%;
  }
  .section {
    text-align: left;
  }
  
  .section-message p {
    width: 90%;
  }
  .section-message {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .section-image {grid-column: 2/3}
  .section-image img {
    width: 90%;
    margin: 0 auto;
  }
  .section-message h2 {
    font-size: 2.5rem;
    padding: 50px 0 20px o ;
  }
  .section-c,.section-e,  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-left: 70px;
    padding-right: 70px;
  }
  
  .section-c::before {
    background: url(/images/bg-section-top-desktop-1.svg) no-repeat top left/cover, #ffffff;
    height:  max(120px, 10vw);
  }
  .section-c::after {
    background: url(/images/bg-section-bottom-desktop-1.svg) no-repeat top left/cover, #ffffff;
    height:  max(120px, 10vw);
  }
  .section-d {
    padding: 100px 70px;
    display: flex;
    column-gap: 50px;
  }
  .section-d.section-image {
    flex: 1.5;
  }
  .section-d.section-message {flex:1}
  
  .section-e{ padding: 150px 100px;}
  .section-e::before {
    background: url(/images/bg-section-top-desktop-2.svg)  no-repeat top left/cover, #ffffff;
    height: 150px;
  }
  .section-e::after {
    background: url(/images/bg-section-bottom-desktop-2.svg) no-repeat top left/cover, #ffffff;
    height: 140px;
  }
  .section-f {
    text-align: center;
  }
  }
  footer {
    padding-top: 150px;
    border: none;
  }
  footer::before {
    background: url(/images/bg-footer-top-desktop.svg) no-repeat top left/cover, #ffffff;
    height: max(120px, 10vw);
    top: 0;
    border: none;
  }
  .footer-a {
    grid-column: 2/3;
  }
  .footer-b{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .footer-a form {
    display: flex;
    gap: 10px;
  }
  .footer-b > p {width: 70%;}
}